{% extends 'base.html.twig' %}

{% block title %}Recipe: {{ name }}{% endblock %}

{% block body %}
    <h2 class="recipe-name">{{ name }}</h2>

    <div class="recipe-container">
        <div class="recipe-photo"></div>
        <div class="recipe-details">
            <dl class="recipe-details-list">
                <ul><strong>Ingredients:</strong>
                    <li>Ingredient: quantity measurement</li>
                    <li>Ingredient: quantity measurement</li>
                    <li>Ingredient: quantity measurement</li>
                    <li>Ingredient: quantity measurement</li>
                </ul>
                <ul><strong>Preparation time:</strong>
                    <li>10min preparation</li>
                    <li>20min cooking</li>
                </ul>
                <dt>Fun Fact:</dt>
                <dd>{{ funFact|raw }}</dd>
            </dl>
        </div>
    </div>
    <div id="js-notes-wrapper"></div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>
    <script type="text/babel">
        var commentsUrl = '{{ path('recipe_show_comments', {'recipeName': name}) }}';

        ReactDOM.render(
            <NoteSection url={commentsUrl}/>,
            document.getElementById('js-notes-wrapper')
        )
    </script>
{% endblock %}